<%@ include file="/views/common/header.jsp"%>

    <!-- 네비게이션 끝 -->
    <!-- 서브메뉴 -->
    <div class=submenu>
        <ul>
            <li><a class="subhome" href="main_usr_login.html">HOME</a></li>
            <!-- <li><a class="subhome" href="location.html">LOCATION</a></li> -->
            <li><a class="subhome" href="./reviewWirte.html">리뷰작성</a></li>

        </ul>
    </div>
    <!-- 서브메뉴 끝 -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="review">
            <h1>리뷰작성 하기</h1>
        </div>

        <p id="right">
            <span id="abc">*</span>
            필수입력사항
        </p>

        <table class="tbl-reg">

            <caption>문의하기 게시판</caption>

            <colgroup>
                <col style="width:20%">
                <col style="width:auto;">
            </colgroup>

            <tbody>
                <tr class="first">
                    <th scope="row"><label for="qnatitle"> <span id="abc">*</span>제목</label></th>
                    <td><input type="text" name="qnatitle" id="qnatitle" class="inp full" title="제목 입력" required></td>
                </tr>
                <tr>
                    <th scope="row">평점</th>
                    <td>
                        <div class="starRev">
                            <span class="starR1 on" id="0.5" onClick="reply_click(this)">별1_왼쪽</span>
                            <span class="starR2" id="1" onClick="reply_click(this)">별1_오른쪽</span>
                            <span class="starR1" id="1.5" onClick="reply_click(this)">별2_왼쪽</span>
                            <span class="starR2" id="2" onClick="reply_click(this)">별2_오른쪽</span>
                            <span class="starR1" id="2.5" onClick="reply_click(this)">별3_왼쪽</span>
                            <span class="starR2" id="3" onClick="reply_click(this)">별3_오른쪽</span>
                            <span class="starR1" id="3.5" onClick="reply_click(this)">별4_왼쪽</span>
                            <span class="starR2" id="4" onClick="reply_click(this)">별4_오른쪽</span>
                            <span class="starR1" id="4.5" onClick="reply_click(this)">별5_왼쪽</span>
                            <span class="starR2" id="5" onClick="reply_click(this)">별5_오른쪽</span>
                        </div>
                        <div class="rate">
                            <span style="margin-left: 15px;font-weight:bold" id="starRate">0.5</span> / 5
                    </div>
</td>
                </tr>
                <tr>
                    <th scope="row"><label for="ntcrNm">ID</label></th>
                    <td>
                        <!-- 회원아이디 default -->
                        <input type="text" name="ntcrNm" id="ntcrNm" class="inp" disabled>
                        <input type="radio" name="idstatus" value="openId" checked>공개
                        <input type="radio" name="idstatus" value="closeId">비공개

                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="nttCn">내용</label></th>
                    <td>
                        <textarea name="nttCn" id="nttCn" rows="20" cols="70" class="textarea"></textarea>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="password">후기 사진</label></th>
                    <td>

                        <div class="row">

                            <div class="col-md-3 col-sm-6 mb-4">
                                <div id="wrapper">
                                    <label>
                                    <input type="file" accept="image/*" onchange="preview_image1(event)" style="display:none">
                                    <img id="output_image1" class="img-fluid" src="http://placehold.it/500x300" alt=""> 
                                </label>
                                </div>

                        </div>

                            <div class="col-md-3 col-sm-6 mb-4">
                                    <div id="wrapper">
                                        <label>
                                        <input type="file" accept="image/*" onchange="preview_image2(event)" style="display:none">
                                        <img id="output_image2" class="img-fluid" src="http://placehold.it/500x300" alt=""> 
                                    </label>
                                    </div>

                            </div>

                            <div class="col-md-3 col-sm-6 mb-4">
                                <div id="wrapper">
                                    <label>
                                    <input type="file" accept="image/*" onchange="preview_image3(event)" style="display:none">
                                    <img id="output_image3" class="img-fluid" src="http://placehold.it/500x300" alt=""> 
                                </label>
                                </div>

                        </div>


                        </div>

                </tr>
            </tbody>
        </table>

        <div class="board-view-btn">
            <a class="gray" title="cancel" onclick="cancel_event();">취소</a>
            <a class="blue" title="submit" onclick="fn_pro()">등록</a>
        </div>
    </div>

    <script>
function preview_image1(event) 
{
 var reader = new FileReader();
 reader.onload = function()
 {
  var output = document.getElementById('output_image1');
  output.src = reader.result;
 }
 reader.readAsDataURL(event.target.files[0]);
}
function preview_image2(event) 
{
 var reader = new FileReader();
 reader.onload = function()
 {
  var output = document.getElementById('output_image2');
  output.src = reader.result;
 }
 reader.readAsDataURL(event.target.files[0]);
}
function preview_image3(event) 
{
 var reader = new FileReader();
 reader.onload = function()
 {
  var output = document.getElementById('output_image3');
  output.src = reader.result;
 }
 reader.readAsDataURL(event.target.files[0]);
}
       

        // 평점
        $('.starRev span').click(function () {
            $(this).parent().children('span').removeClass('on');
            $(this).addClass('on').prevAll('span').addClass('on');
            return false;
        });

        function reply_click(obj)
        {    
            var id = obj.id;
            document.getElementById('starRate') .innerHTML = id;
        }

        function cancel_event() {
            if (confirm("정말 삭제하시겠습니까?") == true) {
                location.href= history.back();
                //TODO: 삭제 코드 추가 
            }
        }


        function fn_pro() {
            if ($("#qnatitle").val() == "") {
                alert("제목은 필수 입력값입니다.");
                $("#qnatitle").focus();
                return;
            }
        /* else{
    		alert("등록 됩니까?");
    		location.href="http://localhost:9090/semi/review/reviewList";
    		} 
    	 */
            //location.href = "mypage_partner.html";


        }





    </script>


</body>