@charset "UTF-8";
/* 메인페이지에서만 사용되는 css (헤더 부분 포함) 
   다른 페이지에서 사용되는건 그 페이지 style로 주거나 너무 길면 따로 css 파일 만들어주세요!
   페이지 전체에서 공유되는 css는 modern-business.css에 있아요
*/


#reserveback {
  background-color: antiquewhite;
}


input#datepicker:focus {
  border: 1px solid #d5d5d5 !important;
}
#submitbtn {
  height: 45px;
  border: 1px solid #d5d5d5;
  background: #fff;
  border-radius: 5px;
  font-size: 16px;
  vertical-align: bottom;
}

form {
  margin-top: 30px;
}

#formselection,
#datelabel {
  text-align: center;
  font-size: larger;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
}
.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 40px;
}
:root {
  --shadow: rgb(231, 76, 80);
}

.navbar-brand {
  color: var(--text);
  text-shadow: 6px 6px var(--shadow), 5.75px 5.75px var(--shadow),
    5.5px 5.5px var(--shadow), 5.25px 5.25px var(--shadow),
    5px 5px var(--shadow), 4.75px 4.75px var(--shadow),
    4.5px 4.5px var(--shadow), 4.25px 4.25px var(--shadow),
    4px 4px var(--shadow), 3.75px 3.75px var(--shadow),
    3.5px 3.5px var(--shadow), 3.25px 3.25px var(--shadow),
    3px 3px var(--shadow), 2.75px 2.75px var(--shadow),
    2.5px 2.5px var(--shadow), 2.25px 2.25px var(--shadow),
    2px 2px var(--shadow), 1.75px 1.75px var(--shadow),
    1.5px 1.5px var(--shadow), 1.25px 1.25px var(--shadow),
    1px 1px var(--shadow), 0.75px 0.75px var(--shadow),
    0.5px 0.5px var(--shadow), 0.25px 0.25px var(--shadow);
}

.bg-dark {
  background-color: rgb(52 58 64 / 0.5) !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 2px rgba(0, 0, 0);
  font-weight: 500;
}

#formselection {
  margin-top: 40px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
  background-color: rgb(248, 247, 249);
}

#submenu {
  height: 50px;
  width: 100%;
  margin-top: -14px;
}
#formselection form {
  margin-top: 0;
}

#formselection label,
#datepicker::placeholder,
#category option,
#category {
  font-size: 18px;
}

#carouselExampleIndicators,
.carousel-inner {
  height: 515px;
}
.carousel-item {
  min-height: 500px;
}

/* Q&A */
.tbl-list {
  width: 100%;
}
caption {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}
.tbl-list th {
  color: #000;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  height: 48px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #b7b7b7;
}
.tbl-list td {
  font-size: 17px;
  color: #000;
  text-align: center;
  font-weight: 4000;
  height: 69px;
  border-bottom: 1px solid #e4e4e4;
}
.tbl-list td .status {
  margin: 0 auto;
  width: 60px;
  height: 24px;
  border-radius: 2px;
  -ms-display: flexbox;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  overflow: hidden;
  color: #fff;
}
.tbl-list td .status.blue {
  background: #0e7ab4;
}
.tbl-list td .status.brown {
  background: #966e36;
}
.tbl-list td .status.green {
  background: #0f8095;
}
.tbl-list td .status.red {
  background: #e81717;
}
.tbl-list td .status.light_gray {
  background: #cccccc;
}
.tbl-list td .status.gray {
  background: #4a4a4a;
}
.tbl-list td.al {
  text-align: left;
  padding-left: 20px;
}
.tbl-list td a {
  -ms-display: flexbox;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.tbl-list td a.file-down {
  width: 17px;
  height: 16px;
  margin: 0 auto;
}
.tbl-list td a.file-down img {
  margin-left: 0;
}
.tbl-list td a span {
  font-size: 17px;
  color: #000;
  font-weight: 400;
  display: block;
  max-width: calc(100% - 20px);
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.tbl-list td a img {
  margin-left: 5px;
  -ms-display: flexbox;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 17px;
  height: 16px;
}

.board-header {
  margin: 50px 0 20px 0;
  width: 100%;
  height: 45px; /* overflow:hidden; */
  position: relative;
}
.board-header .cnt {
  font-size: 17px;
  color: #000;
  font-weight: 400;
  float: left;
  height: 45px;
  line-height: 45px;
}
.board-header .cnt strong {
  font-size: 17px;
  color: #0072c0;
  font-weight: 400;
}
.board-search-form {
  position: absolute;
  right: 0;
  top: 0;
}
.board-search-form .hidden {
  position: absolute;
  left: -20000px;
}
.board-search-form .select {
  font-size: 17px;
  color: #000;
  width: 140px;
  height: 45px;
  border: 1px solid #ccc;
}
.board-search-form .inp {
  margin-left: 10px;
  font-size: 17px;
  color: #000;
  height: 45px;
  width: 208px;
  border: 1px solid #ccc;
  padding: 0 10px;
}
.board-search-form button {
  cursor: pointer;
  width: 45px;
  height: 45px;
  margin-left: -5px;
  padding-top: 3px;
  padding-bottom: 2px;
  overflow: hidden;
  text-indent: -2000px;
  background: url(https://www.gtck.re.kr/images/site/frt/bg/bg_search01.png)
    no-repeat center center;
  border: 1px solid #ccc;
  border-left: 0;
}

.board-bottom {
  position: relative;
  clear: both; /* margin: 0 auto; */
  text-align: center;
  margin: 40px 0 80px 0;
  padding: 0;
  width: 100%;
  height: auto; /* overflow: hidden; */
}
.paging-box.t01 {
  padding-top: 0;
}
.paging {
  -ms-display: flexbox;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
}
.paging a {
  margin-left: -1px;
  font-size: 14px;
  color: #000;
  width: 40px;
  height: 43px;
  border: 1px solid #ddd;
  -ms-display: flexbox;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.paging a.first {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.paging a.last {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.paging a.on {
  position: relative;
  color: #fff;
  background: #0072c0;
}

.board-btn {
  -ms-display: flexbox;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 45px;
}
.board-btn .btn-txt {
  margin-left: 2px;
  font-size: 17px;
  color: #333;
  font-weight: 400;
  border: 1px solid #ddd;
  -ms-display: flexbox;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 88px;
  overflow: hidden;
}
.board-btn .btn-txt.gray {
  border-color: #aeb8c4;
  background: #aeb8c4;
  color: #fff;
}
.board-btn .btn-txt.blue {
  border-color: #0072c0;
  background: #0072c0;
  color: #fff;
}
.btn_more.board-bottom {
  justify-content: center;
}
.modi.board-btn .btGoup {
  font-size: 0;
}
.modi.board-btn button {
  display: inline-block;
}

caption {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}


